.countries {
  position: relative;
  width: 100%;
  padding-top: 55px;
  padding-bottom: 104px;
  border-top: 1px solid $silver-700;

  @media(max-width: 768px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .container {
    max-width: 1100px;
  }

  .form-block {
    @media(max-width: 767px) {
      width: 100%;
    }

    .calc {
      @media(max-width: 767px) {
        width: 100%;
      }

      .label, .form-vue__footer span {
        color: #c3c3c3;
      }
    }

    .date-time, .custom-time, .select-humans__head > div {
      @media(max-width: 415px) {
        background-color: $silver-900;
      }
    }

    .label, .form-vue__footer span {
      @media(max-width: 415px) {
        color: $silver-1600;
      }
    }

    &__wrap {
      padding-top: 47px;
      padding-bottom: 13px;

      @media(max-width: 415px) {
        padding-top: 0;
      }

      .label {
        width: 100%;
        margin-bottom: 4px;
      }
    }
  }

  &__form {
    position: relative;
    z-index: 10;
  }

  &-form {
    .select-humans {
      margin-bottom: 13px;
    }

    .btn-submit {
      margin-top: 20px;
      margin-bottom: 12px;
    }
  }
  
  &__wrap {
    display: flex;
    flex-wrap: wrap;

    @media(max-width: 767px) {
      display: block;
    }

    h2 {
      font-family: $roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 60px;
      line-height: 70px;
      width: 100%;
      margin-bottom: 75px;

      @media(max-width: 992px) {
        font-size: 40px;
        line-height: 1.2;
        margin-bottom: 30px;
      }

      @media(max-width: 768px) {
        font-size: 30px;
        margin-bottom: 20px;
        font-weight: bold;
      }
    }
  }

  &__img {
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 1.7%;
    max-width: calc(100% - 440px);
    max-height: 100%;
    transform: translateY(-50%);

    @media(max-width: 767px) {
      position: static;
      width: 100%;
      max-width: 100%;
      transform: translateY(0);
    }

    img {
      width: 100%;
    }
  }
}