.b-video {

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 295px;
  overflow: hidden;
  background: url("../img/video-bg.jpg") center center no-repeat;
  background-size: cover;

  @media(max-width: 992px) {
    min-height: 200px;
  }

  @media(max-width: 520px) {
    display: none;
  }

  h2 {
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    color: $white;
  }
}