section.pabout
        header(style="background-image: url(img/about-head.jpg)")
            .container
                p Mytripline was founded in 2020. However, before this, the company had been securing the transport of people all around Europe. During that time we had satisfied clients and made contracts with international companies in order to provide the best possible experience during their journey’s.

        .container.pabout__wrap
            .pabout__grid
                h2 Meet the team
                .pabout__grid-item
                    i
                        img(src="img/user-1.jpg")
                    h4 Alexandra Gburova
                    em Blogger
                    p Having graduated english bilingual school in Slovakia, this ambitious blogger, who already belongs to the best producers in Slovak film industry, joined our team. She is deeply into languages, travelling and possesses creative soul.

                .pabout__grid-item
                    i
                        img(src="img/user-2.jpg")
                    h4 Andriana Bentsa
                    em Chief Marketing Officer
                    p After completing an intensive degree at Russian university in Perm, we enlarged our team by this chief of marketing, whose main goal is to manage international affairs with Russia. Furthermore it is a crucial person regards to social media involvement of our company. We feel honoured she forms our team.

                .pabout__grid-item
                    i
                        img(src="img/user-3.jpg")
                    h4 VOJTĚCH REINER
                    em Chief Operations Officer
                    p I have 35 years of professional experience in tourism and I have worked on multiple positions in the field of hotel industry. Living and working in Tyrol  has brought me rich experience in international transport. Having worked for big or small firms, I am fully capable of providing accomodation, discount opportunities, usage of local services, cultural and gastronomy events for our guests. I would be pleased to organise a perfect trip in my area of living.

                .pabout__grid-item
                    i
                        img(src="img/user-4.jpg")
                    h4 Erik Lehuta
                    em Chief Executive Officer
                    p The founder of company MYTRIPLINE, who is determined to meet the highest possible satisfaction of every client as well as those of the partners. He came up with the algoritm that connects us all. He had been running a successful transfer company within the whole Europe. As time went by, the decision to globalize this idea was made.

        .container.pabout__footer
            img(src="img/about-group.jpg" alt="IMG")
            ul
                li
                    span Green color
                    b.--green Autumn
                    p Even the leaves left their comfort zone and fled after our departure. New beginning. Different perspective. No delays. This is your trip. This is your MYTRIPLINE.

                li
                    span Blue color
                    b.--blue Winter
                    p Short daylight and hours and hours of darkness. Time to seek the sun. Bags in a car, seatbelt fastened. No days wasted.

                li
                    span Red color
                    b.--red Summer
                    p We continue our journey and keep on chasing the red and bloody sun setting to remind us there are next days to be lived. It’s summer. Not one leaf left the tree. But we did.

                li
                    span Orange color
                    b.--orange Spring
                    p Passing by picturesque landscapes, we stop to take a picture. Smile. These are your trips. Collect the memories. Seize the moment. Don’t be afraid to walk barefoot. It’s spring.
