footer.footer
    .footer__container
        .footer__wrap
            .footer__item
                h3 Helpdesk
                .footer__line-ico.--bold
                    +svg("clock")
                    b We’re to help
                        | &nbsp;
                        span.--orange 24/7

                .footer__line-ico
                    +svg("mic")
                    a(href="mailto:support@mytripline.com") support@mytripline.com


            .footer__item
                h3 Let us know
                .footer__line-ico.--bold.--black
                    +svg("phone")
                    a(href="tel:+420 739 379 877 ") +420 739 379 877

                .footer__line-ico
                    +svg("envelope")
                    a(href="mailto:info@mytripline.com") info@mytripline.com

            .footer__item.--last
                h3 Stay in Touch
                .social.--white
                    a.instagram(href="#instagram")
                        +svg("instagram")
                    a.facebook(href="#facebook")
                        +svg("facebook")
                    a.youtube(href="#youtube")
                        +svg("youtube")
                    a.whatsapp(href="#whatsapp")
                        +svg("whatsapp")

            .footer__copyright
                span Copyright 2018-2021 Mytripline. All rights reserved
                div
                    a(href="#Terms-of-use") Terms of use
                    a(href="#Privacy policy") Privacy policy
                a(href="#devruso").dev
                    span Made in  —
                    +svg("ruso")