section.order-success
    .order-success__wrap
        i
            +svg("check")
        h2 Thank you for booking!
        em Your login details have been sent to the mail
        a.btn
            +svg("arrow")
            span Go home

section.order-error
    .order-success__wrap
        i
            +svg("emoji")
        h2 Error in the
            br
            | booking process
        em Check the details and try again
        a.btn
            +svg("refresh")
            span Repeat