.description {
  padding-top: 70px;
  padding-bottom: 70px;

  @media(max-width: 768px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @media(max-width: 520px) {
    padding-top: 9px;
    padding-bottom: 33px;
  }

  &__wrap {
    display: flex;
    align-items: center;
    width: 100%;

    @media(max-width: 992px) {
      display: block;
      width: 100%;
    }
  }

  &__title {
    width: 30.9%;

    @media(max-width: 992px) {
      width: 100%;
      margin-bottom: 30px;
    }

    h2 {
      font-family: $roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 45px;
      line-height: 27px;

      @media(max-width: 768px) {
        font-size: 30px;
        font-weight: 500;
      }

      @media(max-width: 520px) {
        display: none;
      }
    }
  }

  &__items {
    width: 69.1%;

    @media(max-width: 992px) {
      width: 100%;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 14px;

      @media(max-width: 520px) {
        margin-bottom: 33px;
      }
    }

    @media(max-width: 520px) {
      display: block;
    }

    i {
      display: block;
      width: 44px;
      height: 54px;
      margin-top: 37px;

      @media(max-width: 768px) {
        width: 31px;
        height: 39px;
        margin-top: 0;
      }

      @media(max-width: 520px) {
        //margin-left: 5px;
        margin-bottom: 17px;
      }

      img {
        width: 44px;

        @media(max-width: 768px) {
          width: 31px;
        }

        @media(max-width: 520px) {
          display: none;
        }
      }

      svg {
        display: none;
        width: 100%;
        height: 100%;
        fill: #03acd1;

        @media(max-width: 520px) {
          display: block;
        }

        //&.shield {
        //  fill: $green;
        //}
        //
        //&.like {
        //  fill: $blue;
        //}
        //
        //&.lock {
        //  fill: $red;
        //}
      }
    }

    div {
      padding-left: 62px;
      box-sizing: border-box;

      @media(max-width: 768px) {
        padding-left: 20px;
      }

      @media(max-width: 520px) {
        padding-left: 0;
      }
    }

    h3 {
      font-weight: normal;
      font-size: 45px;
      line-height: 1;
      margin-bottom: 7px;

      @media(max-width: 992px) {
        font-size: 30px;
      }

      @media(max-width: 767px) {
        font-size: 25px;
        line-height: 27px;
        margin-bottom: 6px;
      }

      @media(max-width: 520px) {
        margin-bottom: 9px;
      }
    }

    p {
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 32px;
      margin-bottom: 0;

      @media(max-width: 992px) {
        font-size: 18px;
        line-height: 1.5;
      }

      @media(max-width: 767px) {
        font-size: 13px;
        line-height: 21px;
      }
    }
  }
}