section.countries
    .container
        .countries__wrap
            h2 Countries where we work

            .countries__form
                .form-block
                    .form-block__wrap
                        .label One way

                        .form-vue.countries-form.calc#contry-form
                            form.js-contry-form(data-submit="countriesFormSubmit")
                                v-select
                                .date-time
                                    v-custom-calendar
                                    v-time
                                v-humans

                                .label.--white Chauffeur will wait 15 minutes free of charge
                                button.btn-submit
                                    span Search

                                .form-vue__footer
                                    span Can't find your destination?
                                    a(href="#") Request a custom route

                        script.
                          function countriesFormSubmit(e) {
                            console.log(e);
                          }

            .countries__img
                img(src="/img/svg/map.svg" alt="IMG")

