//script(type="text/x-template" id="custom-calendar")
//    .custom-calendar(v-click-outside="close")
//        div.custom-calendar__btn(@click="opened = !opened")
//            span {{ selectedDate }}
//            svg(class="icon calendar")
//                use(xlink:href="/img/sprites/sprite.svg#calendar")
//        .calendar(v-show="opened")
//            v-date-picker(mode='single' :min-date='new Date()' :model-config="modelConfig" v-model='selectedDate' locale="en-EN")
