.incdec {
  display: flex;
  align-items: center;
  width: 82px;
  height: 32px;
  border: 1px solid #ebebeb;
  border-radius: 7px;

  &.--max {
    flex: none;
    width: 115px;
    height: 40px;
    padding: 0;
  }

  &.--max &__minus, &.--max &__plus {
    padding: 0;
  }

  &__minus, &__plus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 100%;
    cursor: pointer;
    user-select: none;

    &:hover {
      svg {
        fill: $orange;
      }
    }

    svg {
      width: 9px;
      height: 9px;
      transition: .2s;
      fill: $silver-800;
    }
  }

  &__minus {
  }

  &.--max &__input {
    padding-left: 0;
    white-space: nowrap;
  }

  &__input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    font-size: 13px;
    color: $black-800;
    user-select: none;

    span {
      margin-bottom: 0;
    }
  }

  &__plus {

  }
}