//script(type="text/x-template" id="incdec")
//    .incdec
//        .incdec__plus(@click="minus")
//            svg(class="icon minus")
//                use(xlink:href="img/sprites/sprite.svg#minus")
//        .incdec__input
//            span {{ number }}
//        .incdec__minus(@click="plus")
//            svg(class="icon plus")
//                use(xlink:href="img/sprites/sprite.svg#plus")