.b-efbooking
    .b-efbooking__wrap
        h2 Effective bookings

        .b-efbooking__item
            i
                img(src="img/touch-screen.svg" alt="IMG")
            div
                h4 Reservations may be achieved by just a single click.
                p Due to our easily understandable system and structure of the website, your reservation will be completed in a few seconds.

        .b-efbooking__item
            i
                img(src="img/security.svg" alt="IMG")
            div
                h6 Free cancellation up to 24 hours before the journey.
                p We understand that travelling always brings up unexpected changes.


