//script(type="text/x-template" id="custom-time")
//    .custom-time(v-click-outside="close")
//        .custom-time__head(@click="toggle")
//            span {{ selectedTime + " " + ampm }}
//            svg(class="icon arrow-down")
//                use(xlink:href="/img/sprites/sprite.svg#arrow-down")
//            | {{ test }}
//        .custom-time__dropdown(v-show="opened")
//            .custom-time__dropdown-head
//                span(:class="{ 'active': !pm }" @click="pm = false") AM
//                button(type="button" @click="pm = !pm")
//                    svg(class="icon icn-arrows-nocollor")
//                        use(xlink:href="/img/sprites/sprite.svg#icn-arrows-nocollor")
//                span(:class="{ 'active': pm }" @click="pm = true") PM
//            .custom-time__dropdown-content
//                .num-select
//                    button(type="button").plus
//                        svg(class="icon arrow-down")
//                            use(xlink:href="/img/sprites/sprite.svg#arrow-down")
//                    span {{ hours }}
//                    button(type="button").minus
//                        svg(class="icon arrow-down")
//                            use(xlink:href="/img/sprites/sprite.svg#arrow-down")
//                em :
//                .num-select
//                    button(type="button").plus
//                        svg(class="icon arrow-down")
//                            use(xlink:href="/img/sprites/sprite.svg#arrow-down")
//                    span {{ minutes }}
//                    button(type="button").minus
//                        svg(class="icon arrow-down")
//                            use(xlink:href="/img/sprites/sprite.svg#arrow-down")
