section.psearch#psearch
    form.container.psearch__wrap.js-psearch-from(data-submit="psearchSubmit")
        .psearch__form
            .psearch__head
                h2
                    | Prague
                    +svg("arrow-long")
                    | Berlin
                em Estimated arrival 12:45 PM

            .calc
                v-select
                .date-time
                    v-custom-calendar
                    v-time
                v-humans(@return="returnPersone")

        .psearch__other
            h3 Visit along the way
            .glide
                .glide__track(data-glide-el='track')
                    ul.glide__slides
                        li.glide__slide(v-for="(item, index) in articleList" :key="index")
                            v-article(:data="item" :index="index" @return="addNewStopItem")

                .glide__bullets(data-glide-el='controls[nav]')
                    button.glide__bullet(v-for="(item, index) in articleList" :key="index" type="button" :data-glide-dir="'=' + index")

            //article(style="background-image: url(img/search-article-1.jpg)")
            //    b Los Angeles
            //    p Pay full attention to the quality and cleanliness of our vehicles and driver selection, who will
            //    button.added
            //        | Add for €82
            //        span
            //            +svg("check")
            //            | added
            //
            //article(style="background-image: url(img/search-article-2.jpg)")
            //    b California
            //    p Pay full attention to the quality and cleanliness of our vehicles and driver selection, who will
            //    button
            //        | Add for €82
            //        span
            //            +svg("check")
            //            | added

        .psearch__last
            .withstops(v-if="withstopsList.length")
                em With stops in

                .withstops__list
                    v-withstops(v-for="(item, index) in withstopsList" @remove="removeWithstopsItem(item)" :key="index" :data="item")

            .yourride
                .yourride__head
                    h3 Your ride
                    a(href="#Other-cars") Other cars

                .yourride__selected(:class="{two: passangers.length > 1}")
                    .tickets__footer
                        i
                            img(v-for="(item, index) in passangers" :key="index" :src="'img/cars/' + item.img" :alt="item.title")
                            //img(src="img/cars/sharan.png" alt="sharan")

                        .tickets__footer-info(v-for="(item, index) in passangers" :key="index")
                            header
                                h4 {{ item.title }}
                                em {{ item.name }}
                            div
                                span {{ item.passagers }}
                                +svg("users")
                            div
                                span {{ item.lugguage }}
                                +svg("suitecase")

                    button
                        span BUY FOR {{ price + withstopsListPrce }}
                .yourride__footer
                    ul
                        li
                            i
                                +svg("chat")
                            span Support 24/7
                        li
                            i
                                +svg("driver-2")
                            span English-speaking driver
                        li
                            i
                                +svg("disabled")
                            span Prepared for handicapped

                    ul
                        li
                            i
                                +svg("car")
                            span Clean, comfortable car
                        li
                            i
                                +svg("bottle")
                            span Bottled water
                        li
                            i
                                +svg()
                            span From a to be service

                    ul
                        li
                            i
                                +svg("little-kid")
                            span Child seats

                        li
                            i
                                +svg("smoking")
                            span No-smoking

                        li
                            i
                                +svg("paw")
                            span Pet friendly


script.
  function psearchSubmit(e) {
    console.log(e);
  }


//1) Sedan - Skoda Superb :1-3 чел , 3 чемодана
//2) MPV - Volkswagen Sharan: 4 чел, 4 чемодана
//5) SUV - KIA Sportage: 4-5 чел. 5 чемоданов
//3)Van  - Mercedes Vito: 5-7 чел, 7 чемоданов
//7)Shared- Shuttle - IVECO Tourer: 8 чел, 8 чемоданов
//4) Minibus - Sprinter Tourer: 16 чел , 16 чемоданов
//8) Minibus- shuttle - Mercedes Sprinter: 16 чел, 16 чемоданов
//6)Bus - SETRA: 50 чел. 50 чемоданов
