header.header
    .container
        .header__wrap
            a(href="#logo").header__logo
                img(src="img/logo.png" alt="logo")
            .header__menu
                nav
                    ul
                        li
                            a(href="#") Company
                        li
                            a(href="#") Discover
                        li
                            a(href="#") Routes
                        li
                            a(href="#") Become a partner

            .header__control
                .header__currency
                    .custom-select
                        select.js-select
                            option Euro
                            option Australian Dollar
                            option U.S. Dollar

                .header__lang
                    .custom-select.--right-desktop
                        select.js-select
                            option EN
                            option DE
                            option PL
                .header__user
                    a(href="#user" alt="user")
                        +svg("user")

        .header__mobile
            .header__burger.js-menu-burger
                span
                    i
            a(href="#logo").header__mobile-logo
                img(src="img/svg/logo.svg" alt="logo")
            .header__user
                a(href="#user" alt="user")
                    +svg("user")