@font-face {
  font-family: 'Circe';
  src: local('Circe Thin'), local('Circe-Thin'),
  url('../fonts/Circe/Circe-Thin.woff2') format('woff2'),
  url('../fonts/Circe/Circe-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  src: local('Circe Light'), local('Circe-Light'),
  url('../fonts/Circe/Circe-Light.woff2') format('woff2'),
  url('../fonts/Circe/Circe-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  src: local('Circe'), local('Circe-Regular'),
  url('../fonts/Circe/Circe-Regular.woff2') format('woff2'),
  url('../fonts/Circe/Circe-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  src: local('Circe ExtraLight'), local('Circe-ExtraLight'),
  url('../fonts/Circe/Circe-ExtraLight.woff2') format('woff2'),
  url('../fonts/Circe/Circe-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  src: local('Circe ExtraBold'), local('Circe-ExtraBold'),
  url('../fonts/Circe/Circe-ExtraBold.woff2') format('woff2'),
  url('../fonts/Circe/Circe-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  src: local('Circe Bold'), local('Circe-Bold'),
  url('../fonts/Circe/Circe-Bold.woff2') format('woff2'),
  url('../fonts/Circe/Circe-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

