$circe: "Circe";
$roboto: "Roboto", sans-serif;

//Color
$gradient: linear-gradient(180deg, #dc3178 0%, #f6b22e 100%);

$orange: #ec824a;
$yellow: #f6b22e;

$pink: #dc3178;

$red: #dc3178;

$green: #0d9432;

$blue: #1b5e96;

$violet: #635bff;

$black: #000000;
$black-100: #2d2d2d;
$black-200: #373737;
$black-300: #646363;
$black-400: #1f1f1f;
$black-500: #424242;
$black-600: #504f4f;
$black-700: #272727;
$black-800: #292929;

$silver: #8d8d8d;
$silver-100: #cecece;
$silver-200: #f2f2f2;
$silver-300: #b5b5b5;
$silver-400: #efeeee;
$silver-500: #c0c0c0;
$silver-600: #b9b9b9;
$silver-700: #d7d7d7;
$silver-800: #e1e1e1;
$silver-900: #f8f8f8;
$silver-1000: #b9b9b9;
$silver-1100: #999999;
$silver-1200: #eaeaea;
$silver-1300: #8b8b8b;
$silver-1400: #e8e8e8;
$silver-1500: #afafaf;
$silver-1600: #c3c3c3;
$silver-1700: #f1f0f0;
$silver-1800: #ebebeb;
$silver-1900: #dcdcdc;
$silver-2000: #f1f1f1;


$white: #ffffff;
$white-100: #fbfbfb;
$white-200: #f5f4ef;

$blue-light: #03acd1;