.calc#calculator
    form.js-calculator(data-submit="calculatorSubmit")
        v-select
        .date-time
            v-custom-calendar
            v-time
        v-humans

        .calc__items
            .calc__item
                b(@click="toggle('extrastops')") + Extra stops
                v-extrastops(v-if="extrastops")

            .calc__item
                b(@click="toggle('choosecar')") + Choose car
                v-choosecar(v-if="choosecar")

            .calc__item
                b(@click="toggle('requirements')") + Requirements
                v-requirements(v-if="requirements")

        .calc__form
            input(name="first-name" placeholder="First name:" required).half
            input(name="last-name" placeholder="Last name:" required).half
            input(type="email" name="email" placeholder="Email:" required)

        .label.--white * required for departures within 48 hours
        button.btn-submit
            span Search

script.
  function calculatorSubmit(e) {
    console.log(e);
  }