.sliderhome {
  padding-top: 75px;
  padding-bottom: 75px;
  overflow: hidden;

  @media(max-width: 767px) {
    padding-top: 53px;
    padding-bottom: 36px;
  }

  &-desktop {
    @media(max-width: 520px) {
      display: none;
    }
  }

  &-mobile {
    display: none;

    @media(max-width: 520px) {
      display: block;
    }
  }

  &__wrap {
    h2 {
      margin-bottom: 48px;

      @media(max-width: 767px) {
        margin-bottom: 24px;
      }
    }
  }

  &-slider {
    //width: calc(100% + ((100vw - 1240px) / 2));
    width: 100%;

    @media(max-width: 1240px) {
      //width: calc(100% + 20px);
    }

    .swiper-slide {
      width: 360px;

      @media(max-width: 570px) {
        width: 259px;
      }

      i {
        display: block;
        width: 100%;
        height: 230px;
        overflow: hidden;
        border-radius: 20px;
        margin-bottom: 39px;

        @media(max-width: 767px) {
          margin-bottom: 22px;
        }

        @media(max-width: 570px) {
          width: 259px;
          height: 178px;
        }
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      b {
        font-weight: bold;
        font-size: 30px;
        line-height: 27px;
        margin-bottom: 26px;
        margin-top: 0;
        display: block;

        @media(max-width: 767px) {
          font-size: 20px;
          line-height: 27px;
          margin-bottom: 6px;
        }
      }

      p {
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;

        @media(max-width: 767px) {
          font-size: 13px;
          line-height: 21px;
        }
      }
    }
  }
}