.header-block.--border(style="background-image: url(img/order-bg.jpg);")
    .container
        .header-block__wrap
            h1 Complete your booking

form.order.js-form-validator
    .container
        .order__wrap
            .order__form
                section
                    h2 Lead passenger

                    .block-input
                        input(type="email" name="email" placeholder="Email" required)
                    .block-input.half
                        input(name="first-name" placeholder="First name" required)
                    .block-input.half
                        input(name="last-name" placeholder="Last name" required)
                    .block-input
                        input.js-input-mask(name="day-of-birth" data-mask="99.99.9999" placeholder="Day of birth" required)
                    .input-block.input-phone
                        input(type="tel" id="phone" name="phone" required placeholder="Phone number")
                    .textarea-block
                        textarea(name="comment" placeholder="Comment")

                section.--two
                    h2 Pick up and drop-off
                    em You can add or change these up to 24 hours before departure.

                    .block-input
                        input(name="pickup-address" placeholder="Pickup address" required)
                    .block-input
                        input(name="drop-off-address" placeholder="Drop-off address" required)

                section.--last
                    .order__payment
                        .order__payment-item
                            div.order__payment-wrap
                                h2 Payment
                                .checkbox.--violet
                                    input(type="radio" data-payment-check="1" id="check-strip" name="payment" checked)
                                    label(for="check-strip")
                                        img(src="img/stripe.png" alt="stripe")

                                .checkbox.--orange
                                    input(type="radio" data-payment-check="2" id="check-cash" name="payment")
                                    label(for="check-cash")
                                        +svg("users")
                                        span Cash

                        .order__payment-item
                            .order__payment-type(data-payment-content="1").--violete.active
                                h4 Pay in Stripe
                                ul
                                    li
                                        img(src="img/apple-pay.svg")
                                    li
                                        img(src="img/visa.svg")
                                    li
                                        img(src="img/mastercard.svg")
                                    li
                                        img(src="img/maestro.svg")
                                    li
                                        img(src="img/american-express.svg")
                                    li
                                        img(src="img/google-pay.svg")
                                    li
                                        img(src="img/alipay.svg")


                            .order__payment-type(data-payment-content="2")
                                b Pay your driver directly at the end of your trip.
                                p - Pay in any currency.
                                p - Gratuity isn’t included in the total price. While not required, if you had a great trip, you can reward your driver with an optional tip (10% is sufficient).

            aside.order__aside
                .order__aside-wrap
                    .order-sum.js-order-sum-toggle
                        .order-sum__title-mobile
                            b €136
                            em VAT included
                            .tickets__footer-info
                                div
                                    span 1-3
                                    +svg("users")
                                div
                                    span 3x
                                    +svg("suitecase")
                            .arrow
                                +svg("arrow-down")
                        .order-sum__head
                            h2 Trip summary
                            a(href="#") Edit itinerary
                        .order-sum__country
                            .order-sum__country-item
                                b Prague
                                span Departure: Tue, Feb 9, 9:00 AM
                            .order-sum__country-item
                                b Passau
                                span Estimated arrival: Tue, Feb 9, 12:05 PM
                        .order-sum__cars
                            div
                                a(href="Other-cars") Other cars
                            .order-sum__cars-item.tickets__footer
                                i
                                    img(src="img/sedan.png" alt="sedan")

                                .tickets__footer-info
                                    h4 Luxury sedan
                                    em Mercedes Benz E-Class
                                    div
                                        span 1-3
                                        +svg("users")
                                    div
                                        span 3x
                                        +svg("suitecase")
                        .order-sum__footer
                            div
                                span Total (EUR)
                                em VAT included

                            div
                                b €136
                    .order-sum__submit
                        button.btn
                            span confirm and pay €136*

                        b * Your payment (approx. A€136) will be taken in EUR. It's €648. The actual amount in AUD depends on your bank's exchange rate.





script(src='https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/intlTelInput.js')
link(href='https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/css/intlTelInput.css' rel='stylesheet')
script.
  $(document).ready(function() {
    // let dayofbirth = $("#dayofbirth");
    // dayofbirth.mask("99.99.9999");
    var phoneInputID = "#phone";
    var input = document.querySelector(phoneInputID);
    var iti = window.intlTelInput(input, {
      // allowDropdown: false,
      // autoHideDialCode: false,
      // autoPlaceholder: "off",
      // dropdownContainer: $(".input-phone") || document.body,
      // excludeCountries: ["us"],
      separateDialCode: true,
      formatOnDisplay: true,
      geoIpLookup: function(callback) {
        $.get("http://ipinfo.io", function() {}, "jsonp").always(function(resp) {
          var countryCode = (resp && resp.country) ? resp.country : "";
          callback(countryCode);
        });
      },
      hiddenInput: "full_number",
      // initialCountry: "auto",
      // localizedCountries: { 'de': 'Deutschland' },
      // nationalMode: false,
      // onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
      // placeholderNumberType: "MOBILE",
      // separateDialCode: true,
      utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.14/js/utils.js"
    });


    $(phoneInputID).on("countrychange", function(event) {

      // Get the selected country data to know which country is selected.
      var selectedCountryData = iti.getSelectedCountryData();

      // Get an example number for the selected country to use as placeholder.
      newPlaceholder = intlTelInputUtils.getExampleNumber(selectedCountryData.iso2, true, intlTelInputUtils.numberFormat.INTERNATIONAL),

        // Reset the phone number input.
        iti.setNumber("");

      // Convert placeholder as exploitable mask by replacing all 1-9 numbers with 0s
      mask = newPlaceholder.replace(/[1-9]/g, "0");

      // Apply the new mask for the input
      $(this).mask(mask);
    });

    // When the plugin loads for the first time, we have to trigger the "countrychange" event manually,
    // but after making sure that the plugin is fully loaded by associating handler to the promise of the
    // plugin instance.

    iti.promise.then(function() {
      $(phoneInputID).trigger("countrychange");
    });
  });