.eur_money::before {
    content:"€ ";
    font-style: normal;
    display: initial;
    max-width: 20px;
}
.usd_money::before {
    content:"$ ";
    font-style: normal;
    display: initial;
    max-width: 20px;
}
.aud_money::before {
    content:"$ ";
    font-style: normal;
    display: initial;
    max-width: 20px;
}
