.fancybox__backdrop {
  backdrop-filter: blur(3px);
  background: rgba(#000000, .7);
}

.popup {
  display: none;

  background: #ffffff;
  box-shadow: 0 4px 45px 20px rgba(71, 71, 71, 0.04);
  border-radius: 7px;

  padding-left: 29px;
  padding-right: 29px;
  padding-bottom: 23px;
  padding-top: 50px;

  @media(max-width: 768px) {
    padding-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }

  &.--sm {
    width: 345px;

    @media(max-width: 380px) {
      width: calc(100% - 20px);
    }
  }

  &.--md {
    width: 439px;

    @media(max-width: 480px) {
      width: calc(100% - 20px);
    }
  }

  &.--xl {
    width: 481px;

    @media(max-width: 520px) {
      width: calc(100% - 20px);
    }
  }

  h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 1.1;
    margin-bottom: 28px;

    &.--center {
      text-align: center;
    }

    @media(max-width: 768px) {
      font-size: 28px;
      margin-bottom: 15px;
    }
  }

  @at-root .fancybox__container & {
    .carousel__button {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 24px;
      height: 24px;
      background: #efefef;

      svg {
        width: 8px;
        height: 8px;
        stroke: #b9b9b9;
        box-shadow: none;
        filter: none;
      }
    }
  }

  .btn-submit {
    margin-top: 23px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  &-login {
    form {
      display: block;
      width: 215px;
      margin-left: auto;
      margin-right: auto;

      .input-block {
        margin-bottom: 7px;
      }

      input {
        box-shadow: none;
        margin-bottom: 0;
      }

      .btn-submit {
        margin-top: 13px;
        margin-bottom: 29px;
      }

      a {
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 27px;
        text-align: center;
        text-decoration: none;
        display: block;
        color: inherit;

        &:hover {
          color: $blue-light;
        }
      }
    }
  }

  &-success {

    @media(max-width: 768px) {
      height: 200px;
    }

    &__wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 276px;
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 38px;

      @media(max-width: 768px) {
        margin-bottom: 20px;
      }
    }
  }

  &-chgpass {
    padding-top: 40px;
    padding-bottom: 37px;

    h3 {
      text-align: left;
    }

    form {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      > em {
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 16px;
        color: #afafaf;
        margin-top: -5px;
      }
    }
    .input-block {
      width: 100%;
      margin-bottom: 13px;
      &.half {
        width: calc(50% - 7px);

        @media(max-width: 520px) {
          width: 100%;
        }
      }
    }

    .btn-submit {
      margin-top: 17px;
      height: 44px;
    }
  }
}

.popup-select-rider {
  label {
    box-sizing: border-box;
    display: block;
    border: 1px solid #ebebeb;
    border-radius: 8px;
    transition: .2s;

    margin-bottom: 8px;
  }

  .tickets__footer {
    flex-wrap: nowrap;

    @media(max-width: 520px) {
      flex-wrap: wrap;
    }

    i {
      min-width: 124px;
    }

    &-price {
      display: flex;

      b {
        font-size: 16px;
      }
    }
  }

  input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
  }

  input:checked + label {
    border-color: $blue-light;
  }
}