.roites2
    .container
        .routes2__wrap
            h2 Select a routes

            .routes2__grid
                a(href="#" style="background-image: url('../img/route2-img-1.jpg')").routes2__item
                    h4 Sacra di San Michele
                    p Pay full attention to the quality and cleanliness of our vehicles and driver selection, who will

                a(href="#" style="background-image: url('../img/route2-img-2.jpg')").routes2__item
                    h4 Eiffel Tower
                    p Pay full attention to the quality and cleanliness of our vehicles and driver selection, who will

                a(href="#" style="background-image: url('../img/route2-img-3.jpg')").routes2__item
                    h4 Basilica of Superga
                    p Pay full attention to the quality and cleanliness of our vehicles and driver selection, who will

                a(href="#" style="background-image: url('../img/route2-img-4.jpg')").routes2__item
                    h4 Novara
                    p Pay full attention to the quality and cleanliness of our vehicles and driver selection, who will

                a(href="#" style="background-image: url('../img/route2-img-5.jpg')").routes2__item
                    h4 Alfa Romeo Museum
                    p Pay full attention to the quality and cleanliness of our vehicles and driver selection, who will

                a(href="#" style="background-image: url('../img/route2-img-6.jpg')").routes2__item
                    h4 New York
                    p Pay full attention to the quality and cleanliness of our vehicles and driver selection, who will