section.description
    .container
        .description__wrap
            .description__title
                h2 Choose us

            .description__items
                .description__item
                    i
                        img(src="img/shield-svg.svg" alt="IMG")
                    div
                        h3 Safety.
                        p Each driver working for MYTRIPLINE has gone through the strict selection procedure. Speaking of our highest aim, getting your from A to B point while offering the greatest possible comfort meets up your and our desire. Time spent on getting to your final point does not have to be time wasted. With us it is simply enjoyable.

                .description__item
                    i
                        img(src="img/like-svg.svg" alt="IMG")
                    div
                        h3 Quality.
                        p To our precious clients, Mytripline guarantees every single ride to be a comfortable and delightful experience when facilitated through our company. In this respect, we pay full attention to the quality and cleanliness of our vehicles and driver selection, who will become your guide throughtout the journey.

                .description__item
                    i
                        img(src="img/lock-svg.svg" alt="IMG")

                    div
                        h3 Reliability.
                        p The journey always sets off on time. Our drivers will get you from A to B point while choosing the most comfortable route from multiple possibilities. This journey provided by our company also adds the best stops at must-see destinations.