section.routes3
    .routes3__form
        .container
            .form-block
                .form-block__wrap
                    .calc#routes3
                        form.js-form-validator
                            v-select
                            .date-time
                                v-custom-calendar
                                v-time
                            v-humans
                            button.btn-submit.--simple
                                span Search

    .routes3__content
        .container
            h1 Eiffel Tower

            .routes3__grid
                .routes3__item
                    +svg("pointer")
                    b Beginning
                    span Your driver will arrive at the starting point

                .routes3__item
                    +svg("city")
                    b Extra stops
                    span During the ride, you will stop to sightsee a city

                .routes3__item
                    +svg("baggage")
                    b Finish ride
                    span Completing the ride with your driver who will help with your baggage up to a hotel/boat/airport

    .routes3__img
        img(src="/img/route2-img-2.jpg" alt="IMG")
