.request(style="background-image: url(img/request-bg.jpg)")
    .container
        .request__wrap
            .form-block
                h2 Enjoy your trip
                .form-block__wrap
                    .label One way
                    include ../calculator/calculator
            .request__info
                .request__info-item
                    i
                        //img(src="img/map.svg" alt="IMG")
                        +svg("map2")
                    div
                        b From A to B service
                        span Get easily from your starting to
                            br
                            | the final spot.

                .request__info-item
                    i
                        //img(src="img/map.svg" alt="IMG")
                        +svg("messenger")
                    div
                        b We’ll send you a quote
                        span Provided information will
                            br
                            | be processed and we will reach you
                            br
                            | with an offer in the shortest time
                            br
                            | possible.

                .request__info-item
                    i
                        //img(src="img/map.svg" alt="IMG")
                        +svg("check-mark")
                    div
                        b Confirm
                        span We will send you an affirmation
                            br
                            | of a journey and everything
                            br
                            | essential by email.

                .request__info-item
                    i
                        //img(src="img/milan-cathedral.svg" alt="IMG")
                        +svg("milan-cathedral")
                    div
                        b Guidance of locals
                        span Our drivers will take you to places,
                            br
                            | introduce traditions and give
                            br
                            | information of the place
                            br
                            | you are heading towards.
