section.routes
    .routes-header
        .container
            h2 Routes
            span Select a country
    .routes-content.container

        ul
            li
                a(href="#") Albania
            li
                a(href="#") Andorra
            li
                a(href="#") Argentina
            li
                a(href="#") Australia
            li
                a(href="#") Austria
            li
                a(href="#") Belgium
            li
                a(href="#") Belize
            li
                a(href="#") Bosnia and Herzegovina
            li
                a(href="#") Botswana
            li
                a(href="#") Brazil
            li
                a(href="#") Bulgaria
            li
                a(href="#") Cambodia
            li
                a(href="#") Canada
            li
                a(href="#") Chile
            li
                a(href="#") Colombia
            li
                a(href="#") Costa Rica
            li
                a(href="#") Croatia
            li
                a(href="#") Czech Republic

        ul
            li
                a(href="#") Denmark
            li
                a(href="#") Ecuador
            li
                a(href="#") Egypt
            li
                a(href="#") El Salvador
            li
                a(href="#") Estonia
            li
                a(href="#") France
            li
                a(href="#") Germany
            li
                a(href="#") Gibraltar
            li
                a(href="#") Greece
            li
                a(href="#") Guatemala
            li
                a(href="#") Honduras
            li
                a(href="#") Hungary
            li
                a(href="#") Iceland
            li
                a(href="#") Indonesia
            li
                a(href="#") Ireland
            li
                a(href="#") Israel
            li
                a(href="#") Italy
            li
                a(href="#") Jordan

        ul
            li
                a(href="#") Kenya
            li
                a(href="#") Kosovo
            li
                a(href="#") Laos
            li
                a(href="#") Latvia
            li
                a(href="#") Lesotho
            li
                a(href="#") Liechtenstein
            li
                a(href="#") Lithuania
            li
                a(href="#") Luxembourg
            li
                a(href="#") Malaysia
            li
                a(href="#") Mexico
            li
                a(href="#") Moldova, Republic of
            li
                a(href="#") Monaco
            li
                a(href="#") Montenegro
            li
                a(href="#") Morocco
            li
                a(href="#") Namibia
            li
                a(href="#") Netherlands
            li
                a(href="#") New Zealand
            li
                a(href="#") Nicaragua

        ul
            li
                a(href="#") North Macedonia
            li
                a(href="#") Norway
            li
                a(href="#") Oman
            li
                a(href="#") Panama
            li
                a(href="#") Paraguay
            li
                a(href="#") Peru
            li
                a(href="#") Philippines
            li
                a(href="#") Poland
            li
                a(href="#") Portugal
            li
                a(href="#") Romania
            li
                a(href="#") Rwanda
            li
                a(href="#") San Marino
            li
                a(href="#") Serbia
            li
                a(href="#") Singapore
            li
                a(href="#") Slovakia
            li
                a(href="#") Slovenia
            li
                a(href="#") South Africa
            li
                a(href="#") Spain